<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Brand name -->
    <div class="navbar-header">
      <a class="navbar-brand">Jotly</a>
    </div>

    <!-- Left Navbar items -->
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/jots">All Jots</a></li>
        <li><a href="/followed">Followed Jots</a></li>
        <li><a href="/myjots">My Jots</a></li>
      </ul>

      <!-- Right Navbar items -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/session/new">User: <span style="color:green"><%=current_user.name%></span></a></li>
        <li><%=link_to "Sign up", new_user_path %></li>
        <li><%=link_to "Logout", '/logout', method: :post %></li>
        <% if current_user.try(:admin?) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Corner <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="active"><a href="/edit_users">Manage Users</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<br>
<h1>User Database</h1>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
      <th>Admin?</th>
    </tr>
  </thead>
  <% @users.reverse.each do |user| %>
    <tr>
      <td><%=user.id%></td>
      <td><%=user.name%></td>
      <td><%=user.password%></td>
      <td><%=user.admin%></td>
      <td><%=button_to 'promote/demote', promote_demote_path(user), {params: {id:user.id}} %></td>
    </tr>
  <% end %>
</table>
