<h1>Edit Comment</h1>

<!-- <p><%=link_to "Back to Jot", jot_comment_path %></p> -->

<%= form_for [@jot,@comment] do |f| %>

<%=f.label :content %>:
<%=f.text_area :content %>

<%=f.submit%>
<%end%>
