<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Brand name -->
    <div class="navbar-header">
      <a class="navbar-brand">Jotly</a>
    </div>

    <!-- Left Navbar items -->
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/jots">All Jots</a></li>
        <li><a href="/followed">Followed Jots</a></li>
        <li><a href="/myjots">My Jots</a></li>
      </ul>

      <!-- Right Navbar items -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/session/new">User: <span style="color:green"><%=current_user.name%></span></a></li>
        <li><%=link_to "Sign up", new_user_path %></li>
        <li><%=link_to "Logout", '/logout', method: :post %></li>
        <% if current_user.try(:admin?) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Corner <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/edit_users">Manage Users</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<h1>Likes show</h1>

<%=link_to "Back to Jot Index", jots_path %>

<% @likes.reverse.each do |like| %>

<p><%=like.user.name%></p>

<%end%>
